<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- google fonts 'roboto' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- my stylesheet -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <div class="back-top"></div>
        <div class="my_container">
            <!-- sidebar with contacts -->
            <aside>
                <header>
                    <!-- user profile and buttons -->
                    <div class="head-profile">
                        <div class="img-wrapper-small">
                            <img src="./img/avatar_io.jpg" alt="">
                        </div>
                        <span>User</span>
                    </div>
                    
                    <div class="head-buttons">
                        <button><i class="fa-solid fa-circle-notch"></i></button>
                        <button><i class="fa-solid fa-message"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </header>

                <!-- notification banner -->
                <div id="banner">
                    <div class="head-profile">
                        <div class="img-wrapper-small">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <div>Ricevi notifiche nuovi messaggi</div>
                            <div><small><a href="#">Attiva notifiche desktop</a></small></div>
                        </div>
                        
                    </div>

                </div>

                <div id="searchbar">
                    <button @click="filterContacts"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="search" v-model="search" placeholder="Search or start new chat">
                </div>

                <!-- contacts -->
                <div id="contacts">
                    <div
                        v-for="(contact, index) in filterContacts()"
                        @click="showChat(index)"
                        :class="{active: contact.visible}"
                        class="contact-card">
                        <div class="img-wrapper">
                            <img :src="contact.avatar" alt="">
                        </div>

                        <div class="contact-info">
                            
                            <strong>{{contact.name}}</strong>

                            <!-- v-if makes sure the app doesn't break if all messages are deleted from a chat -->
                            <small v-if="contact.messages.length > 0">{{formatTime(contact.messages[contact.messages.length - 1].date)}}</small>
                            
                            <p v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].message}}</p>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- main view with texts -->
            
            <main>
                <div v-if="activeContact.name == null" class="welcome-screen">
                    <div class="welcome-content">
                        <h1>Welcome to Boolzapp Web</h1>
                        <p>Select a contact in your sidebar to start chatting</p>
                        <i class="fa-solid fa-left-long fs-1"></i>
                    </div> 
                </div>

                <div v-else class="main-screen-wrapper">
                    <header>
                        <div class="head-profile">
                            <div class="img-wrapper-small">
                                <img :src="activeContact.avatar" alt="">
                            </div>
                            <div>
                                <div>
                                    <strong>{{activeContact.name}}</strong>
                                </div>
                                <div>
                                    <small>{{activeContact.userStatus}}</small>
                                </div>
                            </div>                        
                        </div>
                        <div class="head-buttons">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <button><i class="fa-solid fa-paperclip"></i></button>
                            <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        </div>
                    </header>

                    <div id="chat-container">
                        <!-- chat -->
                        <div
                            v-for="(text, index) in activeContact.messages"
                            class="chat-row"
                            :class="text.status"
                        >
                            <div class="chat-text">
                                <p class="m-0">{{text.message}}</p>
                                <span class="chat-time">{{formatTime(text.date)}}</span>
                                <button class="btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu chat-drop">
                                    <li class="dropdown-item" @click="deleteMessage(index)">Delete Message</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <!-- input area -->
                        <button><i class="fa-regular fa-face-smile"></i></button>
                        <input
                            type="text"
                            placeholder="Type a message"
                            v-model="newMessage.message"
                            @keyup.enter="sendMessage()"
                        >
                        <button>
                            <i v-if="newMessage.message.trim() != ''" @click="sendMessage()" class="fa-solid fa-paper-plane"></i>
                            <i v-else  class="fa-solid fa-microphone"></i>
                        </button>
                    </footer>
                </div>
            </main>
        </div>
    </div>
        

    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- my script -->
    <script src="./script.js"></script>
</body>
</html>