<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- my stylesheet -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div id="app" class="container">
        <!-- sidebar with contacts -->
        <aside>
            <header>
                <!-- user profile and buttons -->
                <div class="head-profile">
                    <div class="img-wrapper-small">
                        <img src="./img/avatar_io.jpg" alt="">
                    </div>
                    <span>User</span>
                </div>
                
                <div class="head-buttons">
                    <!-- some icons -->
                </div>
            </header>

            <!-- notification banner -->
            <div id="banner">
                <div class="head-profile">
                    <div class="img-wrapper-small">
                        <img src="./img/avatar_1.jpg" alt="">
                    </div>
                    <span>Ricevi notifiche nuovi messaggi</span>
                </div>

            </div>

            <div id="searchbar">
                <button>Search</button>
                <input type="text">
            </div>

            <!-- contacts -->
            <div id="contacts">
                <div
                    v-for="(contact, index) in contacts"
                    @click="getMessages(index)"
                    class="contact-card">
                    <div class="img-wrapper">
                        <img :src="contact.avatar" alt="">
                    </div>

                    <div class="contact-info">
                        <div class="info-top">
                            <strong>{{contact.name}}</strong>
                            <small>12:00</small>
                        </div>
                        <div>Last message</div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- main view with texts -->
        <main>
            <header>
                <div class="head-profile">
                    <div class="img-wrapper-small">
                        <img src="./img/avatar_1.jpg" alt="">
                    </div>
                    <div>
                        <div>
                            <strong>Name</strong>
                        </div>
                        <div>
                            <small>Last access</small>
                        </div>
                    </div>
                    
                </div>
                
                <div class="head-buttons">
                    <!-- some icons -->
                </div>
            </header>

            <div id="chat-container">
                <!-- chat -->
                <div
                    v-for="text in activeMessages"
                    class="chat-row"
                    :class="text.status"
                >
                    <div class="chat-text">{{text.message}}</div>
                </div>
            </div>

            <footer>
                <!-- input area -->
                <button>emoji</button>
                <input type="text">
                <button>record</button>
            </footer>           

        </main>
    </div>


    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- my script -->
    <script src="./script.js"></script>
</body>
</html>