<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- my stylesheet -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div id="app" class="container">
        <!-- sidebar with contacts -->
        <aside>
            <header>
                <!-- user profile and buttons -->
                <div class="head-profile">
                    <div class="img-wrapper-small">
                        <img src="./img/avatar_io.jpg" alt="">
                    </div>
                    <span>User</span>
                </div>
                
                <div class="head-buttons">
                    <button><i class="fa-solid fa-circle-notch"></i></button>
                    <button><i class="fa-solid fa-message"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </header>

            <!-- notification banner -->
            <div id="banner">
                <div class="head-profile">
                    <div class="img-wrapper-small">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <div>Ricevi notifiche nuovi messaggi</div>
                        <div><small><a href="#">Attiva notifiche desktop</a></small></div>
                    </div>
                    
                </div>

            </div>

            <div id="searchbar">
                <button @click="filterContacts"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="search" v-model="search" placeholder="Search or start new chat">
            </div>

            <!-- contacts -->
            <div id="contacts">
                <div
                    v-for="(contact, index) in filterContacts()"
                    @click="getMessages(index)"
                    :class="{active: contact.visible}"
                    class="contact-card">
                    <div class="img-wrapper">
                        <img :src="contact.avatar" alt="">
                    </div>

                    <div class="contact-info">
                        <div class="info-top">
                            <strong>{{contact.name}}</strong>
                            <small>12:00</small>
                        </div>
                        <div>Last message</div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- main view with texts -->
        <main>
            <header>
                <div class="head-profile">
                    <div class="img-wrapper-small">
                        <img :src="activeContact.avatar" alt="">
                    </div>
                    <div>
                        <div>
                            <strong>{{activeContact.name}}</strong>
                        </div>
                        <div>
                            <small>Last access</small>
                        </div>
                    </div>
                    
                </div>
                
                <div class="head-buttons">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button><i class="fa-solid fa-paperclip"></i></button>
                    <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </header>

            <div id="chat-container">
                <!-- chat -->
                <div
                    v-for="text in activeContact.messages"
                    class="chat-row"
                    :class="text.status"
                >
                    <div class="chat-text">
                        {{text.message}}
                        <span class="chat-time">{{formatTime(text.date)}}</span>
                    </div>
                </div>
            </div>

            <footer>
                <!-- input area -->
                <button><i class="fa-regular fa-face-smile"></i></button>
                <input
                    type="text"
                    placeholder="Type a message"
                    v-model="newMessage.message"
                    @keyup.enter="sendMessage(), delayResponse()"
                >
                <button><i class="fa-solid fa-microphone"></i></button>
            </footer>           

        </main>
    </div>

    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- my script -->
    <script src="./script.js"></script>
</body>
</html>